.event-details-container {
    padding-top: 20px;
    .back-arrow {
        color: #703fa0 ;
        font-size: 20px;
      }
    .table-container {
        background-color: white;
        width: 100%;
       
        padding-top: 15px;
        .table-info {
            padding: 20px;
            background-color: white;
            border: 2px;
        }
        .ant-table-thead > tr > th {
            background-color: rgba(182, 109, 255, 0.2);
            color: #703fa0;
            font-size: 14px;
        }
        .ant-table-thead > tr > th > td {
                font-size: 12.5px;
        }
    }
    .back-icn-ctn {
        display: flex;
        align-items: center !important;
        justify-content: space-between !important;
        .header-left-part {
            display: flex;
            align-items: center;
            .back-btn-icon {
                cursor: pointer;
                
            }
        }
        .back-div-header{
            color: #703fa0;
            padding-left: 10px;
            margin-top: 9px;
        }
    }
    .header-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    Button {
        background-color: rgba(182, 109, 255, 0.2);
        color: #703fa0;
        border: none;
    }
    Button:hover {
        background-color: #713471;
        color: #ddcbdd;
        border: none;
    }
    h4 {
        padding: 0;
    }
}
    .order-failed {
        font-size: 16px;
        padding-bottom: 15px;
        color: #727c85;
    }
    .trigger-btn {
        background-color: rgba(182, 109, 255, 0.2);
        color: #703fa0;
        border: none;
        margin-left: 1.3rem;
    }
    .trigger-btn:hover {
        background-color: #713471;
        color: #ddcbdd;
        border: none;
    }
}