.event-details-container {

    padding-top: 20px;
    .table-container {
        background-color: white;
        width: 100%;
        height: 100vh;
        .table-info {
            padding: 20px;
            background-color: white;
            border: 2px;
           
        }
       
    }
    .back-icn-ctn {
        display: flex;
        align-items: center !important;
        justify-content: space-between !important;
        .header-left-part {
            display: flex;
            align-items: center;
            .back-btn-icon {
                cursor: pointer;
            }
        }
        
        .back-div-header{
            padding-left: 10px;
            margin-top: 9px;
        }
    }

}
.ant-table-thead > tr > th {
    background-color: ddcbdd;
}