.Orders-details {
  .template-demo {
    padding-top: 20px;
  }
  .order-event-list{
    width: 30rem;
  }
  .timeline-item {
    
    font-size: 16px;
  }
  .button-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 30rem;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0.6rem;
    font-size: 16px;
    color: #703fa0;
    .numbers-id {
        font-size: 16px;
    }
  }
  .button-list:hover {
    background-color: #703fa0;
    color: white;
    border: none;
  }
  
  .header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  Button {
   background-color: #ddcbdd;
   color: #713471;
  }
  Button:hover {
    background-color: #713471;
    color: #ddcbdd;
    border: none;
  }
  h4 {
    padding: 0;
    
  }}
  .event-details {
    font-Size: 16px;
    padding-Bottom: 15px;
    color: #727c85;
  }
  
 
}
