.ant-skeleton-element {
    height: 230px;
    width: 340px;
}
.ant-skeleton-element .ant-skeleton-input {
    display: inline-block;
    vertical-align: top;
    background: rgba(190, 190, 190, 0.2);
    width: 100%;
    min-width: 160px;
    height: 100%;
    line-height: 32px;
}